.header {
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;

    background-color: #1b2032;
    color: #fff;
}

.header > img {
    width: 25%;
    height: 15%;
    padding: 25px;
}

.header > button {
    padding: 0 30px;
    background-color: #fff;
    color: #1b2032;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}